footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: transparent linear-gradient(0deg,  #1a2050 100%, #314681 0%) 0% 0% no-repeat padding-box;
    height: 5vw;
    color: white;
}

li {
    font-size: 0.8vw;
    list-style: none;
    height: 50%;;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

a {
    color: white;
    font-size: 0.8vw;
    transition: .5s;
}

a:hover {
    font-weight: bold;
    font-size:0.81vw;
}

.powerby {
    height: 100%;
    width: 80%;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
    align-content: center;
    font-family: luxurious script;
    font-weight: lighter;
}

.links{
    font-family: luxurious script;
    height: 100%;
    width: 20%;
    display: grid;
    align-content: space-evenly;
    text-align: left;
}

.liElement li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #9e9ea9;
}