header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vw;
    background: transparent linear-gradient(0deg, #314681 0%, #1a2050 100%) 0% 0% no-repeat padding-box;
    font-weight: bold;
    font-size: 1.8vw;
    color: white;
    padding: 0 2vw 0 2vw;
    margin: 0;
}

.saludo{
    font-size: 2vw;
    font-weight: lighter;
    font-family: luxurious script;
}

.cerrarSesion{
    font-size: 1vw;
}

.cerrarSesion:hover{
    font-size: 1vw;
}