*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

body{
    background: transparent linear-gradient(0deg, #314681 0%, #1a2050 100%) 0% 0% no-repeat padding-box;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.log{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 38.5vw;
}

.logCenter{
    display: grid;
    width: 30vw;
    height: 25vw;
    align-content: space-evenly;
    justify-content: center;
    background: #314681;
    border-radius: 8%;
    text-align: center;
    color: white;
}

.credenciales{
    height: 11vw;
    display: grid;
    align-content: space-between;
    justify-content: center;
}

.divUsuario{
    display: grid;
    height: 5vw;
    align-content: space-evenly;
    text-align: center;
}

.divPass{
    display: grid;
    height: 5vw;
    align-content: space-evenly;
    text-align: center;
}

.tituloUsuario, .tituloPass{
    font-size: 1.6vw;
    color: white;
    font-weight: bold;
}

.inputuser, .inputpass{
    text-align: center;
    border-radius: 1.6vw;
    border: 0;
    outline: none;
    width: 20vw;
    height: 2.5vw;
    padding: 0 1.196vw 0 1.196vw;
    font-size: 1vw;
}

.iniciarSesion{
    width: 12vw;
    height: 2.5vw;
    border-radius: 3vw;
    font-size: 1.25vw;
    font-weight: bold;
    color: white;
    background: #477ddf;
    border: none;
}