*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
	font-size: 1.2vw;
    min-height: 39vw;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3.5vw;
	display: block;
	padding-bottom: .5vw;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5vw;
}

table{
	width: 100%;
	margin-bottom : .5vw;
    table-layout: fixed;

}

td, th {
	padding: .7vw;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

.info-descripcion{
    text-align: justify;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2vw;
}

.campo{
	margin: 0;
	padding-bottom: 1vw;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7vw;
}

.campo-medio{
	display: inline-block;
	padding-right: .5vw;
    width: -webkit-fill-available;
}

#mensaje-error{
    color: red;
    padding-bottom: 1vw;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

.grupo{
	width: 32%;
	display: inline;
	padding: 10px 0px;
}

.descripcion{
    width: -webkit-fill-available;
}

.grupo-tarea{
    width: 97%;
    display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5vw 2vw;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2vw;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;

}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-tarea{
    margin-top: 30px;
}